.currency-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    width: 600px;
    height: 500px;
    border: 1px solid black;
    box-shadow: -2px 2px 5px gray;
    background-color: #491a31c4; 
      
}
 .amount{
    width: 150px;
    height: 60px;
    margin-right: 10px;
    border: none;
    outline: none;
    font-size: 30px;
    text-align: center;
 }
 .result{
    width: 150px;
    height: 60px;
    border: none;
    outline: none;
    font-size: 30px;
    text-align: center;
 }
 .from-currency-option{
    width: 90px;
    height: 60px;
    margin-right: 10px;
    font-size: 20px;
    text-align: center;
 }
 .to-currency-option{
    width: 90px;
    height: 60px;
    margin-right: 10px;
    font-size: 20px;
    text-align: center;
 }