body{
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background-image: url("./images/images.jpg");
  backdrop-filter: blur(10px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}